/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

// MEDIA BREAKPOINTS
$desktop: 835px;

:root {
    // COLORS
    --color-background: #f8f9fe;
    --color-title: #151827;
    --color-primary: #680262;
    --color-body: #85859b;
    --color-stroke: #cfd1dd;
    --color-white: #ffffff;
    --color-button-hover: #490245;
    --color-button-active: #860180;

    // STYLES
    --border-radius: 16px;
    --stroke: 1px;

    // FONTS
    --font-family: "Manrope";
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --line-height-normal: 1;
    --line-height-large: 160%;
    --letter-spacing-header: 0;
    --letter-spacing-body: -.01em;

    --font-size-button: 16px;

    --font-size-h1: 24px;
    --font-size-h2: 16px;
    --font-size-body1: 14px;
    --font-size-body2: 12px;
    --font-size-link: 14px;
    
}

@media screen and (min-width: $desktop) {
    :root {
        --font-size-h1: 32px;
        --font-size-h2: 18px;
        --font-size-body1: 16px;
        --font-size-body2: 14px;
        --font-size-link: 16px;
    }
}